<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @account.surname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @account.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @account.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
